/* ComputoParaleloMundial/web/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #004d99; /* Azul oscuro */
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

/* Estilo simple para el contenedor de equipos/grupos */
#teams-container, #groups-container, #matches-container {
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
}